<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Fuel graphs</h1>

<!-- Row-->
<div class="row">
    <!-- Average fuel consumption -->
    <div class="col-xl-4 col-md-12 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Average consumption</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">9,2 l</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Min fuel consumption -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Minimal consumption</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">7,8 l</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Max fuel consumption -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Maximal consumption</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">10,4 l</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row-->
<div class="row">
    <!-- Average fuel price -->
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Average price (for 100 km)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">20 PLN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Total price -->
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Total price for fuel</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1800 PLN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Area Chart - Price -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-gray-800">Fuel consumption and price graph</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="text-gray-400">Time range selection</p>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Select time range:</div>
                <a class="dropdown-item" href="#">Last month</a>
                <a class="dropdown-item" href="#">Last 3 months</a>
                <a class="dropdown-item" href="#">Last 6 months</a>
                <a class="dropdown-item" href="#">Last year</a>
                <a class="dropdown-item" href="#">All</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area">
            <canvas id="canvas_fuelcons"></canvas>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area">
            <canvas id="canvas_price"></canvas>
        </div>
    </div>
</div>

<script>
    var dateLabels = @Html.Raw(Json.Encode(ViewBag.dateArray));
    var consumptionData = @Html.Raw(Json.Encode(ViewBag.consumptionArray));
    var priceData = @Html.Raw(Json.Encode(ViewBag.priceArray));

    var lineChartConsumtionData = {
        labels: dateLabels,
        datasets: [
            {
                label: "Fuel consumption for 100 km",
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgb(255, 99, 132)',
                fill: false,
                data: consumptionData,
                yAxisID: "y-axis-1",
            }
        ]
    };
    var lineChartPriceData = {
        labels: dateLabels,
        datasets: [
            {
                label: "Price for 100 km",
                borderColor: 'rgb(54, 162, 235)',
                backgroundColor: 'rgb(54, 162, 235)',
                fill: false,
                data: priceData,
                yAxisID: "y-axis-1"
            }
        ]
    };

    window.onload = function() {
        var ctx1 = document.getElementById("canvas_fuelcons").getContext("2d");
        var ctx2 = document.getElementById("canvas_price").getContext("2d");
        window.myLine1 = Chart.Line(ctx1, {
            data: lineChartConsumtionData,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                display: true,
                text: 'Fuel receipts graph with consumption for 100 km'
                },
                scales: {
                    xAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Refuelling date'
						}
					}],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "litres"
                        }
                    }],
                }
            }
        });
        window.myLine2 = Chart.Line(ctx2, {
            data: lineChartPriceData,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                display: true,
                text: 'Fuel receipts graph with price for 100 km'
                },
                scales: {
                    xAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Refuelling date'
						}
					}],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "PLN"
                        }
                    }],
                }
            }
        });
    };
</script>
