@{
    ViewBag.Title = "Strona kontaktowa";
    ViewBag.Message = "Kontakt do autora i właściciela strony.";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">@ViewBag.Message</p>

<!--Page Content-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Autor aplikacji</h6>
    </div>
    <div class="card-body">
            <address>
                <strong>Github:</strong>   <a href="https://github.com/matdon90">github.com/matdon90</a><br />
                <strong>Email:</strong>   <a href="mailto:mdonhefner@gmail.com">mdonhefner@gmail.com</a><br />
            </address>
</div>
</div>