@{
    ViewBag.Title = "O LPG CCC";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">Kalkulator kosztów spalania LPG jest aplikacją internetową do zarządzania kosztami konsumpcji paliwa dla samochodów z zamontowaną instalacją LPG.</p>

<!--Page Content-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Aplikacja umożliwia użytkownikom</h6>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <td>Utworzyć nowy samochód</td>
            </tr>
            <tr>
                <td>Edytować istniejący samochów</td>
            </tr>
            <tr>
                <td>Dodać nowy paragon z tankowania</td>
            </tr>
            <tr>
                <td>Zarządzać istniejącymi paragonami z tankowania</td>
            </tr>
            <tr>
                <td>Sprawdzić konsumpcje paliwa</td>
            </tr>
        </table>
    </div>
</div>