@{
    ViewBag.Title = "Polityka Prywatności";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>

<p> Ostatnia aktualizacja: 19 kwietnia 2020 r. </p>
<p> Niniejsza Polityka prywatności opisuje nasze zasady i procedury dotyczące gromadzenia, wykorzystywania i ujawniania twoich informacji podczas korzystania z Usługi i informuje o twoich prawach do prywatności oraz o tym, jak prawo Cię chroni. </p>
<p> Używamy Twoich danych osobowych w celu świadczenia i ulepszania Usługi. Korzystając z Usługi, zgadzasz się na zbieranie i wykorzystywanie informacji zgodnie z niniejszą Polityką prywatności. </p>

<h1 class="h3 mb-2 text-grey-800"> Interpretacja i definicje </h1>
<h2 class="h4 mb-2 text-grey-800"> Interpretacja </h2>
<p> Słowa, w których pierwsza litera jest pisana wielką literą, mają znaczenie zdefiniowane w następujących warunkach. </p>
<p> Poniższe definicje mają takie samo znaczenie, niezależnie od tego, czy występują w liczbie pojedynczej czy mnogiej. </p>

<h2 class="h4 mb-2 text-grey-800"> Definicje </h2>
<p> Do celów niniejszej Polityki prywatności: </p>
<ul>
    <li>
        <p> <strong> Użytkownik </strong> oznacza osobę uzyskującą dostęp do Usługi lub korzystającą z niej, firmę lub inną osobę prawną, w imieniu której taka osoba uzyskuje dostęp lub korzysta z Usługi, odpowiednio. </p>
    </li>
    <li>
        <p> <strong> Firma </strong> (w niniejszej Umowie określana jako „Firma”, „My”, „My” lub „Nasz”) odnosi się do kalkulatora kosztów zużycia LPG. </p>
    </li>
    <li> <strong> Podmiot stowarzyszony </strong> oznacza podmiot, który kontroluje, jest kontrolowany lub znajduje się pod wspólną kontrolą ze stroną, przy czym „kontrola” oznacza własność co najmniej 50% akcji, udziałów kapitałowych lub innych papierów wartościowych zatytułowanych głosować w wyborach na dyrektorów lub inne instytucje zarządzające. </li>
    <li> <strong> Konto </strong> oznacza unikalne konto utworzone w celu uzyskania dostępu do naszej Usługi lub jej części. </li>
    <li> <strong> Witryna </strong> odnosi się do kalkulatora kosztów zużycia LPG, dostępnego na stronie https://lpgccc.azurewebsites.net </li>
    <li> <strong> Usługa </strong> odnosi się do strony internetowej. </li>
    <li> <strong> Kraj </strong> odnosi się do: Polska </li>
    <li>
        <p> <strong> Usługodawca </strong> oznacza każdą osobę fizyczną lub prawną, która przetwarza dane w imieniu Spółki. Odnosi się do firm zewnętrznych lub osób zatrudnionych przez Firmę w celu ułatwienia Usługi, świadczenia Usługi w imieniu Firmy, świadczenia usług związanych z Usługą lub pomocy Spółce w analizie sposobu korzystania z Usługi. </ p>
    </li>
    <li> <strong> Zewnętrzna usługa społecznościowa </strong> odnosi się do dowolnej witryny internetowej lub dowolnej witryny sieci społecznościowej, za pośrednictwem której użytkownik może się zalogować lub utworzyć konto w celu korzystania z Usługi. </li>
    <li>
        <p> <strong> Dane osobowe </strong> to wszelkie informacje dotyczące zidentyfikowanej lub możliwej do zidentyfikowania osoby. </p>
    </li>
    <li> <strong> Pliki cookie </strong> to małe pliki, które są umieszczane na twoim komputerze, urządzeniu mobilnym lub innym urządzeniu przez stronę internetową, zawierające szczegóły Twojej historii przeglądania na tej stronie internetowej, z wielu jej zastosowań. </li>
    <li> <strong> Dane o użytkowaniu </strong> odnoszą się do danych gromadzonych automatycznie, generowanych przez korzystanie z Usługi lub z samej infrastruktury Usługi (na przykład czas trwania wizyty na stronie). </li>
</ul>

<h1 class="h3 mb-2 text-grey-800"> Zbieranie i wykorzystywanie danych osobowych </h1>
<h2 class="h4 mb-2 text-grey-800"> Rodzaje gromadzonych danych </h2>

<h3 class="h5 mb-2 text-grey-800"> Dane osobowe </h3>
<p> Podczas korzystania z naszej usługi możemy poprosić Cię o podanie nam pewnych danych osobowych, które mogą zostać wykorzystane do skontaktowania się z Tobą lub zidentyfikowania Cię. Dane osobowe mogą obejmować między innymi: </p>
<ul>
    <li> Dane o użytkowaniu </li>
</ul>

<h3 class="h5 mb-2 text-grey-800"> Dane użytkowania </h3>
<p> Dane o użytkowaniu są gromadzone automatycznie podczas korzystania z Usługi. </p>
<p> Dane o użytkowaniu mogą obejmować takie informacje, jak adres protokołu internetowego urządzenia (np. adres IP), typ przeglądarki, wersja przeglądarki, strony naszego Serwisu, które odwiedzasz, godzina i data wizyty, czas spędzony na tych stronach , unikalne identyfikatory urządzeń i inne dane diagnostyczne. </p>
<p> Gdy uzyskujesz dostęp do Usługi za pomocą urządzenia mobilnego lub za jego pośrednictwem, możemy automatycznie gromadzić pewne informacje, w tym między innymi rodzaj używanego urządzenia mobilnego, unikalny identyfikator urządzenia mobilnego, adres IP urządzenia mobilnego , Twój mobilny system operacyjny, rodzaj mobilnej przeglądarki internetowej, której używasz, unikalne identyfikatory urządzeń i inne dane diagnostyczne. </p>
<p> Możemy również gromadzić informacje, które Twoja przeglądarka wysyła za każdym razem, gdy odwiedzasz naszą Usługę lub kiedy uzyskujesz dostęp do Usługi za pośrednictwem urządzenia mobilnego lub za jego pośrednictwem. </p>

<h3 class="h5 mb-2 text-grey-800"> Technologie śledzenia i pliki cookie </h3>
<p> Używamy plików cookie i podobnych technologii śledzenia do śledzenia aktywności w naszym serwisie i przechowywania niektórych informacji. Stosowane technologie śledzenia to sygnały nawigacyjne, znaczniki i skrypty do zbierania i śledzenia informacji oraz do ulepszania i analizowania naszej usługi. </p>
<p> Możesz poinstruować przeglądarkę, aby odrzucała wszystkie pliki cookie lub wskazywała, kiedy plik cookie jest wysyłany. Jeśli jednak nie akceptujesz plików cookie, możesz nie być w stanie korzystać z niektórych części naszego serwisu. </p>
<p> Pliki cookie mogą być „trwałymi” lub „sesyjnymi” plikami cookie. Trwałe pliki cookie pozostają na komputerze osobistym lub urządzeniu mobilnym po przejściu do trybu offline, a pliki cookie sesji są usuwane natychmiast po zamknięciu przeglądarki internetowej. Dowiedz się więcej o plikach cookie w <a href="https://www.privacypolicies.com/blog/cookies/"> artykule „Czym są pliki cookie” </a>. </p>
<p> Używamy sesyjnych i trwałych plików cookie do celów określonych poniżej: </p>
<ul>
    <li>
        <p> <strong> Niezbędne / niezbędne pliki cookie </strong>
        <p> Typ: sesyjne pliki cookie </p>
        <p> Administrowane przez: Us </p>
        <p> Cel: Te pliki cookie są niezbędne, aby zapewnić Ci usługi dostępne za pośrednictwem strony internetowej i umożliwić korzystanie z niektórych jego funkcji. Pomagają uwierzytelniać użytkowników i zapobiegają nieuprawnionemu korzystaniu z kont użytkowników. Bez tych plików cookie usługi, o które prosiłeś, nie mogą być świadczone, a my używamy tych plików cookie tylko w celu świadczenia tych usług. </p>
    </li>
    <li>
        <p> <strong> Pliki cookie / Zasady akceptacji powiadomień Pliki cookie </strong> </p>
        <p> Typ: trwałe pliki cookie </p>
        <p> Administrowane przez: Us </p>
        <p> Cel: Te pliki cookie wskazują, czy użytkownicy zaakceptowali użycie plików cookie w Witrynie. </p>
    </li>
    <li>
        <p> <strong> Funkcjonalne pliki cookie </strong> </p>
        <p> Typ: trwałe pliki cookie </p>
        <p> Administrowane przez: Us </p>
        <p> Cel: Te pliki cookie umożliwiają nam zapamiętywanie wyborów dokonywanych podczas korzystania z witryny, takich jak zapamiętywanie danych logowania lub preferencji językowych. Celem tych plików cookie jest zapewnienie bardziej osobistego doświadczenia i uniknięcie konieczności ponownego wprowadzania preferencji za każdym razem, gdy korzystasz z witryny. </p>
    </li>
</ul>
<p> Więcej informacji na temat wykorzystywanych przez nas plików cookie i możliwości wyboru plików cookie można znaleźć w naszej Polityce plików cookie. </p>

<h2 class="h4 mb-2 text-grey-800"> Wykorzystanie danych osobowych </h2>
<p> Firma może wykorzystywać dane osobowe w następujących celach: </p>
<ul>
    <li> <strong> W celu świadczenia i utrzymania naszej Usługi </strong>, w tym w celu monitorowania korzystania z naszej Usługi. </li>
    <li> <strong> W celu zarządzania kontem: </strong> w celu zarządzania rejestracją użytkownika usługi. Podane przez Ciebie dane osobowe mogą dać Ci dostęp do różnych funkcji Usługi, które są dostępne jako zarejestrowany użytkownik. </li>
    <li> <strong> W celu wykonania umowy: </strong> opracowanie, zgodność i realizacja umowy zakupu produktów, towarów lub usług, które kupiłeś lub jakiejkolwiek innej umowy z nami za pośrednictwem Usługi. </ li>
    <li> <strong> Aby skontaktować się z Tobą: </strong> aby skontaktować się z Tobą za pośrednictwem poczty e-mail, połączeń telefonicznych, SMS-ów lub innych równoważnych form komunikacji elektronicznej, takich jak powiadomienia push aplikacji mobilnej dotyczące aktualizacji lub komunikacji informacyjnej związanej z funkcjami, produkty lub usługi zakontraktowane, w tym aktualizacje bezpieczeństwa, jeśli są konieczne lub uzasadnione do ich wdrożenia. </li>
    <li> <strong> Aby przekazać Ci </strong> wiadomości, oferty specjalne i ogólne informacje o innych towarach, usługach i wydarzeniach, które oferujemy, podobne do tych, które już kupiłeś lub o które zapytałeś, chyba że zdecydujesz się nie otrzymać takie informacje. </li>
    <li> <strong> Aby zarządzać Twoimi prośbami: </strong> Aby uczestniczyć i zarządzać Twoimi prośbami do nas. </li>
</ul>

<p> Możemy udostępniać Twoje dane osobowe w następujących sytuacjach: </p>

<ul>
    <li> <strong> Z usługodawcami: </strong> Możemy udostępniać Twoje dane osobowe Usługodawcom w celu monitorowania i analizy korzystania z naszej Usługi, w celu skontaktowania się z Tobą. </li>
    <li> <strong> W przypadku przeniesień biznesowych: </strong> możemy udostępniać lub przekazywać dane osobowe użytkownika w związku z fuzją, sprzedażą aktywów Spółki, finansowaniem lub nabyciem całości lub części naszych firma do innej firmy. </li>
    <li> <strong> Z podmiotami powiązanymi: </strong> możemy udostępniać Twoje dane naszym podmiotom stowarzyszonym, w takim przypadku będziemy wymagać od tych podmiotów stowarzyszonych przestrzegania niniejszej Polityki prywatności. Podmioty stowarzyszone obejmują naszą spółkę dominującą i wszelkie inne spółki zależne, partnerów joint venture lub inne spółki, które kontrolujemy lub które są pod wspólną kontrolą z nami. </li>
    <li> <strong> Z partnerami biznesowymi: </strong> możemy udostępniać Twoje informacje naszym partnerom biznesowym, aby oferować określone produkty, usługi lub promocje. </li>
    <li> <strong> Z innymi użytkownikami: </strong> gdy udostępniasz dane osobowe lub w inny sposób wchodzisz w interakcje w obszarach publicznych z innymi użytkownikami, takie informacje mogą być przeglądane przez wszystkich użytkowników i mogą być publicznie rozpowszechniane na zewnątrz. Jeśli wchodzisz w interakcję z innymi użytkownikami lub rejestrujesz się za pośrednictwem Zewnętrznego serwisu społecznościowego, Twoje kontakty w Zewnętrznym serwisie społecznościowym mogą zobaczyć Twoje imię i nazwisko, profil, zdjęcia i opis Twojej działalności. Podobnie inni użytkownicy będą mogli przeglądać opisy Twojej aktywności, komunikować się z Tobą i przeglądać Twój profil. </li>
</ul>

<h2 class="h4 mb-2 text-grey-800"> Przechowywanie danych osobowych </h2>
<p> Firma będzie przechowywać Twoje dane osobowe tylko tak długo, jak jest to konieczne do celów określonych w niniejszej Polityce prywatności. Będziemy przechowywać i wykorzystywać Twoje dane osobowe w zakresie niezbędnym do wypełnienia naszych obowiązków prawnych (na przykład, jeśli będziemy zobowiązani do przechowywania Twoich danych w celu przestrzegania obowiązujących przepisów), rozstrzygania sporów i egzekwowania naszych umów prawnych i zasad. </ p>
<p> Firma zachowa również Dane o użytkowaniu do celów analizy wewnętrznej. Dane o użytkowaniu są na ogół przechowywane przez krótszy okres, z wyjątkiem sytuacji, gdy są one wykorzystywane w celu zwiększenia bezpieczeństwa lub poprawy funkcjonalności naszej Usługi lub jesteśmy prawnie zobowiązani do przechowywania tych danych przez dłuższy czas. </p>

<h2 class="h4 mb-2 text-grey-800"> Przekazywanie danych osobowych </h2>
<p> Twoje dane, w tym Dane osobowe, przetwarzane są w biurach operacyjnych Spółki oraz we wszystkich innych miejscach, w których znajdują się strony zaangażowane w przetwarzanie. Oznacza to, że informacje te mogą być przekazywane i przechowywane na komputerach znajdujących się poza Twoim stanem, prowincją, krajem lub inną jurysdykcją rządową, gdzie przepisy o ochronie danych mogą różnić się od przepisów obowiązujących w Twojej jurysdykcji. </p>
<p> Twoja zgoda na niniejszą Politykę prywatności, a następnie przesłanie takich informacji oznacza zgodę na to przeniesienie. </p>
<p> Firma podejmie wszelkie niezbędne kroki, aby zapewnić, że Twoje dane są przetwarzane w sposób bezpieczny i zgodnie z niniejszą Polityką prywatności, a żadne dane osobowe nie będą przekazywane do organizacji lub kraju, chyba że istnieją odpowiednie kontrole, w tym bezpieczeństwo Twoich danych i innych danych osobowych. </p>

<h2 class="h4 mb-2 text-grey-800"> Ujawnienie danych osobowych </h2>
<h3 class="h5 mb-2 text-grey-800"> Transakcje biznesowe </h3>
<p> Jeśli firma uczestniczy w fuzji, przejęciu lub sprzedaży aktywów, Twoje dane osobowe mogą zostać przekazane. Prześlemy powiadomienie, zanim Twoje dane osobowe zostaną przesłane i będą podlegać innej polityce prywatności. </p>
<h3 class="h5 mb-2 text-grey-800"> Egzekwowanie prawa </h3>
<p> W pewnych okolicznościach Firma może zostać zobowiązana do ujawnienia Twoich danych osobowych, jeśli jest to wymagane przez prawo lub w odpowiedzi na ważne żądania władz publicznych (np. sądu lub agencji rządowej). </p>
<h3 class="h5 mb-2 text-grey-800"> Inne wymagania prawne </h3>
<p> Firma może ujawnić Twoje dane osobowe w dobrej wierze, że takie działanie jest konieczne w celu: </p>
<ul>
    <li> Przestrzegaj zobowiązania prawnego </li>
    <li> Chroń i broń praw lub własności firmy </li>
    <li> Zapobiegaj lub badaj możliwe nadużycia w związku z Usługą </li>
    <li> Chroń bezpieczeństwo osobiste użytkowników serwisu lub społeczeństwa </li>
    <li> Chroń przed odpowiedzialnością prawną </li>
</ul>

<h2 class="h4 mb-2 text-grey-800"> Bezpieczeństwo danych osobowych </h2>
<p> Bezpieczeństwo Twoich danych osobowych jest dla nas ważne, ale pamiętaj, że żadna metoda transmisji przez Internet lub metoda elektronicznego przechowywania nie jest w 100% bezpieczna. Chociaż staramy się wykorzystywać komercyjnie akceptowalne środki w celu ochrony Twoich danych osobowych, nie możemy zagwarantować ich absolutnego bezpieczeństwa. </p>

<h1 class="h3 mb-2 text-grey-800"> Prywatność dzieci </h1>
<p> Nasza usługa nie jest skierowana do osób poniżej 13 roku życia. Nie zbieramy świadomie danych osobowych od osób poniżej 13 roku życia. Jeśli jesteś rodzicem lub opiekunem i masz świadomość, że Twoje dziecko przekazało nam dane osobowe Dane, prosimy o kontakt z nami. Jeśli dowiemy się, że zebraliśmy Dane osobowe od osób poniżej 13 roku życia bez weryfikacji zgody rodziców, podejmujemy kroki w celu usunięcia tych informacji z naszych serwerów. </p>
<p> Jeśli musimy opierać się na zgodzie jako podstawie prawnej na przetwarzaniu twoich informacji, a twój kraj wymaga zgody rodzica, możemy wymagać zgody twojego rodzica przed zgromadzeniem i wykorzystaniem tych informacji. </p>

<h1 class="h3 mb-2 text-grey-800"> Linki do innych stron internetowych </h1>
<p> Nasza usługa może zawierać linki do innych stron internetowych, które nie są przez nas obsługiwane. Jeśli klikniesz link strony trzeciej, nastąpi przekierowanie do strony tej strony trzeciej. Zdecydowanie zalecamy zapoznanie się z polityką prywatności każdej odwiedzanej witryny. </p>
<p> Nie mamy kontroli i nie ponosimy żadnej odpowiedzialności za treść, politykę prywatności lub praktyki stron lub usług stron trzecich. </p>

<h1 class="h3 mb-2 text-grey-800"> Zmiany w niniejszej Polityce prywatności </h1>
<p> Od czasu do czasu możemy aktualizować naszą Politykę prywatności. Powiadomimy Cię o wszelkich zmianach, publikując nową Politykę prywatności na tej stronie. </p>
<p> Powiadomimy Cię e-mailem i / lub wyraźnym powiadomieniem o naszej usłudze, zanim zmiany zaczną obowiązywać, i zaktualizujemy datę „Ostatnia aktualizacja” na początku niniejszej Polityki prywatności. </p>
<p> Zaleca się okresowe przeglądanie niniejszej Polityki prywatności pod kątem wszelkich zmian. Zmiany niniejszej Polityki prywatności obowiązują, gdy zostaną opublikowane na tej stronie. </p>

<h1 class="h3 mb-2 text-grey-800"> Skontaktuj się z nami </h1>
<p> Jeśli masz jakieś pytania dotyczące niniejszej Polityki prywatności, możesz się z nami skontaktować: </p>
<ul>
    <li> E-mailem: mdonhefner@gmail.com </li>
</ul>