<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="okta:RedirectUri" value="http://localhost:8080/authorization-code/callback"            
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add key="okta:PostLogoutRedirectUri" value="http://localhost:8080/Account/PostLogout"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </appSettings>
  <system.web>
    <!--
      W przykładzie poniżej przekształcenie „Replace” zamienia całą
      sekcję <customErrors> pliku Web.config.
      Zwróć uwagę, że skoro węzeł <system.web> zawiera tylko jedną
      sekcję customErrors, nie trzeba używać atrybutu „xdt:Locator”.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
