@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Site creator contact.";
}
<h1 class="display-4">@ViewBag.Title</h1>
<p class="lead">@ViewBag.Message</p>

<address>
    Author's:<br />
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/matdon90">github.com/matdon90</a><br />
    <strong>Email:</strong>   <a href="mailto:matdon90@example.com">matdon90@example.com</a><br />
</address>
