@{
    ViewBag.Title = "About LPG CCC";
}

<h1 class="display-4">@ViewBag.Title</h1>
<p class="lead">LPG consumption costs calculator is web application for managing costs and fuel consumption in cars with LPG installation.</p>


<table class="table table-striped">
    <tr>
        <th>Allows users to:</th>
    </tr>
    <tr>
        <td>Create new car</td>
    </tr>
    <tr>
        <td>Edit car</td>
    </tr>
    <tr>
        <td>Add new fuel refuelling receipt</td>
    </tr>
    <tr>
        <td>Manage already added receipts</td>
    </tr>
    <tr>
        <td>Check fuel consumption</td>
    </tr>
</table>

<h3>Login History</h3>
<p>Current user: @ViewBag.CurrentUser</p>
<ul>
    @foreach (var timestamp in ViewBag.Logins)
    {
        <li>Login at @timestamp</li>
    }
</ul>