@using LpgConsumptionCostCalculator.Web.Resources
@{
    ViewBag.Title = @RHome.Title;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">LPG consumption costs calculator is web application for managing costs and fuel consumption in cars with LPG installation.</p>

<!--Page Content-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Application allows users</h6>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <td>Create new car</td>
            </tr>
            <tr>
                <td>Edit car</td>
            </tr>
            <tr>
                <td>Add new fuel refuelling receipt</td>
            </tr>
            <tr>
                <td>Manage already added receipts</td>
            </tr>
            <tr>
                <td>Check fuel consumption</td>
            </tr>
        </table>
    </div>
</div>

