@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.Message = "Site's privacy policy.";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">@ViewBag.Message</p>
