@{
    ViewBag.Title = RError.PageNotFound;
}

<!-- Page Content -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">@ViewBag.Title</p>
    <p class="text-gray-500 mb-0">@RError.CarNotFound</p>
    <br />
    @Html.ActionLink(RError.BackToList, "Index", null, new { @class = "btn btn-outline-dark btn-sm", @style = "width: 120px" })
</div>