@model LpgConsumptionCostCalculator.Data.Models.Car
@{
    ViewBag.Title = "Config";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Raport configurator for @Model.CarProducer @Model.CarModel</h1>
