@model LpgConsumptionCostCalculator.Web.ViewModels.ReportConfigureViewModel
<h2>Export to PDF</h2>
@Html.DisplayFor(model => model.CarId);
@Html.DisplayFor(model => model.CarData);
@Html.DisplayFor(model => model.StartDate);
@Html.DisplayFor(model => model.EndDate);




